{
  "CLIENT_CHECKOUT": {
    "IDENTIFICATIVO_PSP": "6666",
    "IDENTIFICATIVO_CANALE": "7777",
    "IDENTIFICATIVO_CANALE_PAGAMENTO": "8888",
    "IDENTIFICATIVO_INTERMEDIARIO_PSP": "9999",
    "PASSWORD": "12345678"
  },
  "CLIENT_IO": {
    "IDENTIFICATIVO_PSP": "6665",
    "IDENTIFICATIVO_CANALE": "7776",
    "IDENTIFICATIVO_CANALE_PAGAMENTO": "8887",
    "IDENTIFICATIVO_INTERMEDIARIO_PSP": "9998",
    "PASSWORD": "12345678"
  }
}